<ion-content class="login-content">
  <div class="login-container">
    <div class="login-header">
      <div class="logo-wrapper">
        <span class="logo-cross">
          <ion-icon name="build" class="ico-wrench"></ion-icon>
          <ion-icon name="hammer" class="ico-hammer"></ion-icon>
        </span>
      </div>
      <h1>Recuperar acceso</h1>
      <p>Verificá tu identidad para crear una nueva contraseña</p>
    </div>

    <ion-card>
      <ion-card-content>
        <ion-item lines="full">
          <ion-label position="stacked">Correo</ion-label>
          <ion-input type="email" [(ngModel)]="email" autocomplete="email" placeholder="tu@correo.com"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Teléfono registrado</ion-label>
          <ion-input type="tel" [(ngModel)]="telefono" placeholder="8888-1234"></ion-input>
        </ion-item>
        <ion-item lines="full">
          <ion-label position="stacked">Nueva contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="password" placeholder="Mínimo 6 caracteres"></ion-input>
        </ion-item>
        <ion-item lines="none">
          <ion-label position="stacked">Confirmar contraseña</ion-label>
          <ion-input type="password" [(ngModel)]="confirmar" (keyup.enter)="recuperar()"></ion-input>
        </ion-item>

        <ion-button expand="block" (click)="recuperar()" [disabled]="!valido">
          Restablecer contraseña
        </ion-button>
      </ion-card-content>
    </ion-card>

    <a class="portal-link" (click)="irLogin()">Volver a iniciar sesión</a>
  </div>
</ion-content>
