<ion-tabs>
  <ion-tab-bar slot="bottom" *ngIf="!esAdmin">
    <ion-tab-button tab="dashboard">
      <ion-icon name="speedometer-outline"></ion-icon>
      <ion-label>Dashboard</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ordenes">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Órdenes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="clientes">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="citas">
      <ion-icon name="calendar-outline"></ion-icon>
      <ion-label>Agenda</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
