<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="inicio">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="ordenes">
      <ion-icon name="clipboard-outline"></ion-icon>
      <ion-label>Órdenes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="cotizaciones">
      <ion-icon name="receipt-outline"></ion-icon>
      <ion-label>Precios</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="mensajes">
      <ion-icon name="chatbubbles-outline"></ion-icon>
      <ion-label>Mensajes</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="clientes">
      <ion-icon name="people-outline"></ion-icon>
      <ion-label>Clientes</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
