ion-item {
  --background: transparent;
  ion-label {
    h2 { color: var(--ion-text-color) !important; font-weight: 700; }
    p { color: var(--ion-text-color) !important; opacity: .7; }
  }
}

ion-searchbar {
  --color: var(--ion-text-color);
  --placeholder-color: var(--ion-text-color);
  --placeholder-opacity: .45;
  --icon-color: var(--ion-text-color);
  --icon-opacity: .45;
}
